@import "./partials/HeaderAttributes/HeaderAttributes.scss";
@import "./partials/MainAttributes/MainAttributes.scss";
@import "./partials/FooterAttributes/FooterAttributes.scss";
@import "node_modules/bootstrap/scss/bootstrap";

* {
    font-family: 'Saira Condensed', sans-serif;
    font-size: 20px;
    letter-spacing: 0.5px;
}