
.container-fluid {
    background-image: url('../../assets/bph/footer-bg.png');
    background-size: cover;
    --bs-gutter-x: 0rem;


    .footContainer {
        width: 80%;
        margin: 0 auto;

        ul {
            list-style: none;
            padding: 2px 0px;
            height: 17px;

            li {

                a {
                    text-decoration: none;
                    color: white;
                    font-size: 17px;
                }

                a:hover {
                    color: rgb(249, 207, 0);
                }
            }
        }
    }

    .address div:first-child,
    .newsletter div:first-child,
    .extras div:first-child,
    .info div:first-child {
        padding: 20px 0px;
        font-size: 25px;
    }

    hr {
        width: 100%;
        margin: 0 auto;
        border: 0.5px solid white;
        margin-top: 101px;
    }

    .downFooter {
        width: 80%;
        margin: 0 auto;
        color: white;

        div {
            a {
                text-decoration: none;
                color: white;
            }

        }
    }

    .payBox {
        width: calc((100% / 5) - 20px);
        height: 80%;

        img {
            width: 100%;
            height: 100%;
        }
    }

    .copyright {
        width: 75%;
    }

    .creditCards {
        width: 25%;
    }
}

// .ulStyle {
//     height: 17px;
// }

p {
    font-size: 17px;
}

.inputContainer {
    position: relative;

    input {
        width: 270px;
    }

    button {
        width: 38px;
        height: 32px;
        border: none;
        position: absolute;
        top: 3.9%;
        left: 231px;
        z-index: 1;
        background-color: inherit;
    }

    .paper {
        top: 19%;
        position: absolute;
        left: 8%;
        color: black;
    }

}

.icone {
    div {
        width: calc((100% / 5) - 15px);
    }
    div:hover {
        color: rgb(249, 207, 0);
        cursor: pointer;
    }
}
