
.specialBox {
    width: 80%;
    margin: 0 auto;

    h1 {
        letter-spacing: 4px;
    }

    .trattoBox {
        margin-bottom: 34px;
        margin-top: 4px;

        .tratto {
            width: 7.5%;
            border: 2px solid #F9AA01;
            border-radius: 10px;
        }
    }
}

.btnContainer {
    background-color: none;

    .buttonz {
        width: calc(33.3333333333% - 220px);
        background-color: inherit;
        padding: 12px 38px;
        font-weight: bold;
        letter-spacing: 1px;
        font-size: 21px;
        border: 0.5px solid rgba(128, 128, 128, 0.218);
        color: white;
    }

    .buttonz:hover {
        color: #F9AA01;
    }
}

.onSale {
    width: 100%;
    position: relative;

    .product {
        width: calc((100% / 4) - 20px);
        border-radius: 0px;
        height: 280px;
        background-color: white;
        border: 0px;

        img {
            width: 100%;
            height: 100%;
        }

        .blackOverlay {
            width: 100%;
            height: 79px;
            background-color: #1e001e;
            bottom: 0%;

            .infoItems {
                padding-left: 10px;

                div {
                    font-size: 17px;
                    letter-spacing: 1px;

                }

                .golden {
                    color: #F9AA01;
                }
            }
        }

        .product-interation-box {
            position: absolute;
            width: 23.4%; 
            height: 33px;
            z-index: 2;
            background-color: #1e001e;
            bottom: -21%;
            color: white;
            text-align: center;


            .productInteration {
                width: 26%;
                height: 107%;
                border: 1px solid black;
                color: white;
                background-color: inherit;
                padding: 4px;
                .icn:hover {
                    color: #F9AA01;
                }

            }

        }

    }
}

.prev {
    left: -2.52%;
}
.prev:hover {
    border: 1px solid #F9AA01;
    color: #F9AA01;
}
.next {
    right: -4%;
}
.next:hover {
    border: 1px solid #F9AA01;
    color: #F9AA01;
}

.button {
    top: 59%;
    padding: 1px 13px;
    position: absolute;
    transform: translate(-50%, -50%);
    height: 38px;
    width: 38px;
    border-radius: 50%;
    background-color: inherit;
    color: white;
    border: 1px solid white;
}

.hidden {
    visibility: hidden;
}

.invisible {
    display: none;
}