
.mainBox {
    width: 80%;
    margin: 0 auto;
    font-size: 15px;
    padding-top: 2%;
    color: white;
}

.info {
    widows: calc(100% / 4);

    .simbolo {
        font-size: 40px;
        padding: 4px 16px;

    }

    .infoTitle {
        font-size: 18px;
        font-weight: bold;
        letter-spacing: 1.5px;

    }

    .infoSubtitle {
        font-size: 15px;
        color: gray;
        letter-spacing: 1px;
    }
}
.info:hover {
        color: rgb(249, 207, 0);
        cursor: pointer;
    }
