
.container-fluid {
    height: 60vh;
    position: relative;
    --bs-gutter-x: 0rem !important;
    margin-top: 67px;
    margin-bottom: 13px;


    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .teamProfile {
        width: 70%;
        height: 269px;
        position: absolute;
        top: 18.7%;
        left: 14%;
        text-align: center;
        z-index: 2;

        .teamProfilePhoto {
            width: 130px;
            height: 130px;
            clip-path: circle(38%);

            img {
                width: 100%;
                height: 100%;
            }
        }

    }

    .infoProfile {
        position: absolute;
        top: 52%;
        left: 8%;
        text-align: center;
        width: 78%;
    }

    .textProfile {
        width: 77%;
        color: rgb(128, 128, 128);
        padding: 1px -33px;
        margin: 0 auto;
    }

    .nameProfile {
        position: absolute;
        padding: 5px 0px;
        top: -44%;
        left: 45%;
        font-size: 23px;

        .name {
            color: white;
        }

        .job {
            color: rgb(249, 207, 0);
        }

    }

    .quotes {
        position: absolute;
        color: white;
        bottom: 261%;
        right: 50%;
    

    .quoteBox {
        width: 23px;
        height: 23px;
        border: 3px solid yellow;
        border-radius: 50%;

        .thisQuote {
            font-size: 16px;
            padding: 3px 3px 11px 3px;
        }
    }
}

.circle {
    width: 106px;
    height: 106px;
    background-color: rgb(249, 207, 0);
    border-radius: 50%;
    position: absolute;
    bottom: 134%;
    left: 48.1%;
}

.threeDots {
    width: calc(16.6666666667% - 162px);
    position: absolute;
    top: 77%;
    color: white;
    left: 46%;

    .dotstyle {
        color: white;
    }

    .newDotStyle {
        color: rgb(249, 207, 0);
    }
}
}